/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.byebug_history
/*.gem

# rspec failure tracking
.rspec_status

# dummy app
/spec/dummy/.bundle
/spec/dummy/.byebug_history
/spec/dummy/.env
/spec/dummy/.yardoc
/spec/dummy/coverage/
/spec/dummy/doc/
/spec/dummy/pkg/
/spec/dummy/spec/reports/
/spec/dummy/tags
/spec/dummy/*.DS_STORE
/spec/dummy/tmp/*
/spec/dummy/log/*
!/spec/dummy/log/.keep
!/spec/dummy/tmp/.keep
/spec/dummy/node_modules
/spec/dummy/yarn-error.log
/spec/dummy/public/system
/spec/dummy/public/assets
/spec/dummy/public/uploads