.modal-overlay {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.confirmation-modal-container {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  background-color: #ffffff;
  border: 1px solid #cbcbc9;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.875rem;
  text-align: center;
  position: relative;
  top: 50px;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.modal-header {
  font-size: 1.25rem;
  margin: 0;
}

.modal-body {
  color: #4f4d4b;
  font-size: 1rem;
  font-weight: 400;
}